
.kanban-card {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  height: 80px;
  padding: 12px;
  margin: 10px;
  max-width: 280px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  font-family: 'Roboto', sans-serif;
  font-size: 10px; 
  transition: box-shadow 0.2s ease;
  color: #666;
}

.kanban-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}


.kanban-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.kanban-card-header h3 {
  font-size: 14px;
  margin: 0;
  font-weight: 600;
  color: #333;
}


.kanban-card-title h3 {
  font-size: 13px; 
  margin: 0 0 10px;
  color: #444;
  font-weight: 500;
}


.kanban-card-body {
  display: flex;
  align-items: center;
}

.kanban-card-image {
  width: 45px; 
  height: 45px;
  margin-right: 10px;
}

.kanban-card-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
  color: #666;
}

.kanban-card-body h3 {
  display: flex;
  align-items: center;
  font-size: 13px; 
  color: #333;
}
.priority-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.car{
  display: flex;
  flex-direction: column;
}
.kanban-card-body p {
  font-size: 12px; 
  color: #777;
}
.toy{
  font-size: 15px;
}

.kanban-card-body img {
  width: 20px;
  height: 20px;
}

.kanban-card-body svg {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  display: flex;
  flex-direction: column;
}

.kanban-card-tag-image {
  width: 18px; 
  height: 18px;
  margin-right: 6px;
}


.kanban-card-header,
.kanban-card-title,
.kanban-card-body {
  margin-bottom: 8px;
}

.kanban-card-title h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 20px;
  max-width: 200px; 
}
.add-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}